name: Mirror to GitLab
on: [push]
jobs:
  mirror:
    runs-on: ubuntu-latest
    environment: mirror_approval

    steps:
      - name: Checkout Github
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
          
      - name: Push to GitLab
        run: |
          git push --mirror https://oauth2:${{ secrets.GITLAB_TOKEN }}@gitlab.com/https://gitlab.telehealth.ph/silph/ph-immunization.git